#main{
    margin-top:30px;
    display:flex;
    width:100%;
    height:fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}
.sid{
    border: black solid 3px;
    width:300px;
    height:500px;
}
.rs{
    
}