.black{
    color:black;
}
.italic{
    font-style: italic;
}
.big{
    font-size: 4.5em;
}
.bold{
    font-style: bold;
}
.alignc{
    text-align: center;
}
.ndec{
    text-decoration: none;
}
.pageon{
    font-style: bold;
    color: red;
}
.mb{
    margin-bottom:1em;
}
@media(max-width:1080px){
    #bit{
        margin-right: 0.4em;
    }
}